<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.js"></script>
	</head>
	<body>
		<!--v-model : 为表单元素创建双向绑定        -->
		<div id="myApp">
			<h1>表单绑定</h1>
			<input type="text" v-model="message" placeholder="点我呀"/>
			<p>Message is : {{message}}</p>
			<h1>复选框</h1>
			<input type="checkbox" value="生化危机" v-model="checkedGames"/>
			<label>生化危机</label>
			<input type="checkbox" value="模拟飞行" v-model="checkedGames"/>
			<label>模拟飞行</label>
			<input type="checkbox" value="塞尔达传说" v-model="checkedGames"/>
			<label>塞尔达传说</label>
			<br />
			<p>你选择的游戏：{{checkedGames}}</p>
		</div>
		<script>
			var myApp = new Vue({
				el:"#myApp",
				data:{
					message:"数据显示",
					checkedGames:[]
				}
			});
		</script>
	</body>
</html>
