<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Realm - Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="__STATIC__/admin/assets/ico/favicon.html">
    <link href="__STATIC__/admin/assets/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/admin/assets/css/theme.css" rel="stylesheet">
    <link href="__STATIC__/admin/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/assets/css/alertify.css" rel="stylesheet">
    <link rel="Favicon Icon" href="favicon.ico">

  </head>
  <body>
    {include file="public:header"/}

    <div class="container-fluid">

      {include file="public:sidemenu"/}

      <!-- Main window -->
      <div class="main_container" id="users_page">

        <div class="row-fluid">
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Pages</a> <span class="divider">/</span></li>
            <li class="active">Videotype</li>
          </ul>

        </div> <!-- /row-fluid -->

        
        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>Users</h5>
              <div class="widget-buttons">
                  <a href="#" data-title="Add User" data-toggle="modal" data-target="#example_modal"><i class="icon-plus"></i></a>
                  <a href="#" data-title="Collapse" data-collapsed="false" class="collapse"><i class="icon-chevron-up"></i></a>
              </div>
            </div>  
            <div class="widget-body">
              <table id="users" class="table table-striped table-bordered dataTable">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>视频类别名称</th>
                    <th></th>              
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  {volist name="videotype" id="vo"}
              
                  <tr>
                    <td>{$vo.tid}</td>
                    <td>{$vo.typename}
                    </td>
                    <td></td>

                    <td>
                      <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="#"><i class="icon-envelope"></i> Email</a></li>
                        <li><a href="#" data-title="Add User" data-toggle="modal" data-target="#edit_modal" onclick="jsedit({$vo.tid})"><i class="icon-edit"></i>Edit</a></li>
                          <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  {/volist}
                </tbody>
              </table>
            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->

      </div>
      <!-- /Main window -->

    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->

    <!-- Example Modal -->
    <div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add user/employee</h3>
      </div>
      <div class="modal-body">
        <p>
          <form method="POST" action="{:url('add')}">
            <input type="text" placeholder="typename" name="typename">
            <input type="submit" value="添加" name="">
          </form>

        </p>
        
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>  

    <div id="edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">修改视频类型</h3>
  </div>
  <div class="modal-body">
    <p>
      <form method="post" action="{:url('update')}">
        <input type="hidden" name="tid" id="tid-modal">
        <input type="text" name="typename" placeholder="typename" id="typename-modal">
        <input type="submit" value="修改">
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
    {include file="public:footer"/}
    <script type="text/javascript">
  function jsedit(tid){
    $.getJSON(
      "{:url('edit')}",{"tid":tid},function(json){
        $("#tid-modal").val(json.tid);
        $("#typename-modal").val(json.typename);
      }
    );

  }
 </script>
</body>
</html>
