<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <!--<meta name="renderer" content="webkit">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="__STATIC__/index/css/layui.css" rel="stylesheet" />
    <link href="__STATIC__/admin/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>


<fieldset class="layui-elem-field layui-field-title" style="margin-left: 20px;">
    <legend style="margin-left: 0">名师热度榜</legend>
</fieldset>

<!--order列表-->
<div class="container" >
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        {if condition="count($order) eq '0'"}
        <!--{eq name="$order|count" value='0'}-->
        <p style="color: black;text-align: center;height: 8%;padding: 8%">暂无任何教练信息</p>
        <!--{/eq}-->
        {else /}
        <thead>
        <tr>
            <th>ID</th>
            <th>教练名</th>
            <th>教练头像</th>
            <th>热度值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name='order' id='vo'}
        <tr>
            <td>{$i}</td>
            <td>{$vo.tname}</td>
            <td><img src="__STATIC__/img/{$vo.tpic}" width="50px" alt=""></td>
            <td><i class="layui-icon layui-icon-fire" style="font-size: 20px; color: #ff0000;"></i>{$vo.hittimes}</td>
            <td><button class="layui-btn" onclick="masterAdd({$vo.trid})">添加为大师</button></td>
        </tr>
        {/volist}
        </tbody>
        {/if}
    </table>
    <div align="center">
    {$order->render()}
    </div>
</div>


<script src="__STATIC__/index/js/layui.js"></script>
<script src="__STATIC__/admin/assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="__STATIC__/admin/assets/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="__STATIC__/admin/assets/js/jquery.metisMenu.js"></script>
<script src="__STATIC__/admin/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="__STATIC__/admin/assets/js/morris/morris.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="__STATIC__/admin/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="__STATIC__/admin/assets/js/dataTables/dataTables.bootstrap.js"></script>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layer','layedit', 'laydate','upload'], function(){
        var form = layui.form;
    });
</script>
<script type="text/javascript">
    function masterAdd(id) {
        $.post("{:url('admin/mastersadd')}",{"trid":id},function (data) {
            if(data.status==0){
                // location.href=location.href;//刷新页面
                layer.msg(data.msg,{icon:6});
            }else{
                layer.msg(data.msg,{icon:5});
            }
        });
    }
</script>

</body>
</html>