 <!-- Side menu -->  
      <div class="sidebar-nav nav-collapse collapse">
        <div class="user_side clearfix">
          <img src="__STATIC__/admin/assets/img/odinn.jpg" alt="Odinn god of Thunder">
          <h5>Odinn</h5>
          <a href="#"><i class="icon-cog"></i> Settings</a>        
        </div>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F79999" href="{:url('video_type/index')}"><i class="icon-dashboard"></i> <span>类型管理</span></a>
            </div>
          </div>
          
         

        </div>
      </div>
      <!-- /Side menu -->