 <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src='__STATIC__/admin/assets/js/sparkline.js'></script>
    <script type="text/javascript" src='__STATIC__/admin/assets/js/morris.min.js'></script>
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.dataTables.min.js"></script>   
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.masonry.min.js"></script>   
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.imagesloaded.min.js"></script>   
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.facybox.js"></script>   
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.alertify.min.js"></script> 
    <script type="text/javascript" src="__STATIC__/admin/assets/js/jquery.knob.js"></script>
    <script type='text/javascript' src='__STATIC__/admin/assets/js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='__STATIC__/admin/assets/js/jquery.gritter.min.js'></script>
    <script type="text/javascript" src="__STATIC__/admin/assets/js/realm.js"></script>