 <!-- Side menu -->  
      <div class="sidebar-nav nav-collapse collapse">
        <div class="user_side clearfix">
          <img src="__STATIC__/admin/assets/img/odinn.jpg" alt="Odinn god of Thunder">
          <h5>Odinn</h5>
          <a href="#"><i class="icon-cog"></i> Settings</a>        
        </div>
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F79999" href="{:url('video_type/index')}"><i class="icon-dashboard"></i> <span>视频类型管理</span></a>
            </div>
          </div>
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F6F1A2" href="{:url('video/index')}"><i class="icon-tasks"></i> <span>视频管理</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C1F8A9" href="{:url('comment/index')}"><i class="icon-bar-chart"></i> <span>留言管理</span></a>
            </div>
          </div> 
         
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_F5C294 active" href="{:url('user/index')}"><i class="icon-user"></i> <span>用户管理</span></a>
            </div>
          </div>  

           <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6" href="{:url('index/edipass')}"><i class="icon-bullhorn"></i> <span>修改密码</span></a>
            </div>
          </div> 

        </div>
      </div>
      <!-- /Side menu -->