//重置css
*,
::before,
::after{
	//选择所有的标签
	margin: 0;
	padding: 0;
	//清除所有移动端的默认的点击高亮效果
	-webkit-tap-highlight-color: transparent;
	//设置所有的都是以边框开始计算宽度百分比
	-webkit-box-sizing: border-box;//兼容
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "Microsoft YaHei",sans-serif;/*设备默认字体*/
	color: #333;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul,ol{
	list-style: none;
	padding: 0
	;
}
input{
	border: none;
	outline: none;
	//清楚移动端的默认表单样式
	-webkit-appearance: none;
}
//通用css
.f_left{
	float: left;
}
.f_right{
	float: right;
}
.clearfix::before,
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;                                
	clear: both;
}
[class^="icon_"]{
	background: url("../images/sprites.png") no-repeat;
	background-size: 200px 200px;
}
.m_l10{
	margin-left: 10px;
}
.m_r10{
	margin-right: 10px;
}
.m_b10{
	margin-bottom: 10px;
}
.m_t10{
	margin-top: 10px;
}
//定义顶部通栏
.hm_topBar{
	width: 100%;
	height: 45px;
	background: url("../images/header-bg.png") repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #ccc;
	position: absolute;
}
.hm_topBar > [class^="icon_"]{
	position: absolute;
	top: 0;
	height: 44px;
	width: 40px;
	padding: 12px 10px;
	background-clip: content-box;//设置背景从什么位置开始显示
	background-origin: content-box;//设置背景从什么位置开始定位
}
.hm_topBar > .icon_back{
	left: 0;
	background-position: -17px -10px;
}
.hm_topBar > .icon_menu{
	right: 0;
	background-position: -70px -10px;
}
.hm_topBar > form{
	width: 100%;
	height: 44px;
	padding: 0 40px;
}
.hm_topBar > form > input{
	width: 80%;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	height: 30px;
	margin-top: 7px;
}
.hm_topBar > h3{
	text-align: center;
	line-height: 44px;
	font-weight: normal;
}
