@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: white;
	text-decoration: none;
}
#main {
	margin: 0 auto;
	width: 224px;
	height: 377px;
	background-image:url(pho.jpg);
}
#dian{
	padding-top:55px;
	text-align: center;
	color: #61594b;
	font-weight: 400;
	font-size: 1.6em;
	height: 40px;
}
#heng{
	text-align: center;
	color: #61594b;
	font-weight: 400;
	font-size: 1.8em;
	height: 30px;
}
#ju{
	text-align: center;
	color: #61594b;
	height: 40px;
	font-size: 1.2em;
}
.part1{
	text-align: center;
	padding-top: 3px;
	height: 40px;
	
	line-height: 40px;
}
.part1 div{
	float:left;
	width: 40px;

	text-align: center;
}
.part1 div:nth-child(1){
	margin-left: 44px;
	
}
.part1 div:nth-child(2){
	margin-left: 8px;
}
.part1 div:nth-child(3)
{
	margin-left: 8px;
}
.clear{
	clear:both;
}
.part2{
	background-color: #a7936e;
	margin: 0 auto;
	text-align: center;
	margin-top: 48px;
	height: 30px;
	width: 110px;
	border-radius:15px;
line-height: 30px;
}
.part2 a{
	font-size: 0.8em;
}
*{ font-family:"微软雅黑", "黑体";}